@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

:root {
  --black: hsl(0, 0%, 21%);
  --blue: hsl(210, 48%, 59%);
  --green: hsl(149, 52%, 58%);
  --light-gray: #e6e6e6;
  --border-radius: 4px;
  --site-width: 960px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.covid-message {
  background-image: url("../images/covid.png");
  padding: 1em 1em 1em 105px;
  background-position: 15px 50%;
  background-repeat: no-repeat;
  background-size: 80px auto;
  background-color: rgba(244, 244, 244, 0.5);
  position: relative;
  top: -2em;
}

.covid-message p {
  margin: 0;
}

.plain-link {
  border: none;
}

.laura-cropped {
  margin: 0 auto 1.45em;
  text-align: center;
}

.laura-cropped img {
  margin-bottom: 0;
}

.laura-cropped figcaption {
  font-style: italic;
  font-size: 0.8rem;
  text-align: center;
}

.masthead h1 {
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body.modal-opened {
  overflow: hidden;
  position: fixed;
  width: 100vw;
}

.contact-form {
  left: 50%;
  transform: translateX(-50%);
  padding: 2em;
  max-width: 35rem;
}

.flash-message .larger {
  font-size: 30px;
  font-weight: bold;
}

body.modal-opened .message h2 {
  animation: 0.8s fade-out forwards 0.3s;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

a:focus {
  outline: 1px solid;
  outline-offset: 0.15em;
}

li {
  list-style: none;
  position: relative;
}

.align-center {
  align-items: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.svg-symbols {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

svg {
  fill: currentColor;
}

.checkmark {
  color: var(--blue);
  width: 1.1em;
  height: 1.1em;
  position: absolute;
  left: -1.8em;
  top: 0.35em;
}

p,
main li,
.content-wrapper li {
  margin-bottom: 20px;
  font-size: 1.15rem;
  font-weight: 400;
  color: var(--black);
  line-height: 1.65;
}

/* h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
} */

h1 {
  font-size: 50px;
}

h2,
.modal-header.h1 {
  margin-bottom: 30px;
  font-size: 34px;
  color: var(--black);
}

h3 {
  margin-bottom: 30px;
  font-size: 28px;
  text-align: center;
}

main h3:not(:first-child) {
  padding-top: 120px;
  position: relative;
}

main h3:not(:first-child)::before {
  position: absolute;
  content: "";
  margin: 50px 0;
  height: 1px;
  top: 0.3em;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #333,
    rgba(0, 0, 0, 0)
  );
  max-width: 75vw;
  left: 50%;
  transform: translateX(-50%);
}

a:link,
a:visited {
  text-decoration: none;
}

main a {
  color: hsl(207, 43%, 16%);
  font-weight: bold;
  border-bottom: 1px dashed hsl(207, 43%, 16%);
}

main ul {
  margin-left: 1.8em;
  margin-bottom: 1em;
}

main h2:not(:first-of-type) {
  padding-top: 1.5em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  max-width: 100%;
}

.logo {
  position: relative;
  left: 20px;
}

.logo svg {
  width: 150px;
  color: white;
  stroke: var(--black);
  stroke-width: 1px;
  fill: white;
}

.svg-icon * {
  pointer-events: none;
}

.masthead {
  will-change: background-position;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 30% 50%;
  padding: 5px 0 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.masthead::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.webp .masthead {
  background-image: url("../images/the_bg2.webp");
  background-image: -webkit-image-set(
    url("../images/the_bg2.webp") 1x,
    url("../images/the_bg2@2x.webp") 2x
  );
}

.no-webp .masthead {
  background-image: url("../images/the_bg2.jpg");
  background-image: -webkit-image-set(
    url("../images/the_bg2.jpg") 1x,
    url("../images/the_bg2@2x.jpg") 2x
  );
}

.nav-items {
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.nav-link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 5px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item {
  opacity: 0;
  animation: 0.8s fade-in forwards 0.7s;
}

.logo:focus,
.nav-link.active,
.nav-link:focus {
  font-weight: bold;
  outline: 1px solid rgba(255, 255, 255, 0.7);
  outline-offset: 1px;
}

.social-items {
  padding-top: 0.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.social-item a {
  padding-right: 10px;
  color: var(--black);
}

.social-item a:focus {
  outline: none;
}

.social-item {
  opacity: 0;
}

.social-item img,
.social-item svg {
  will-change: transform;
  transform: translateY(0);
  transition: 0.3s transform;
  height: 25px;
  width: 25px;
}

.social-item svg {
  color: currentColor;
}

.social-item a:hover svg,
.social-item a:focus svg,
.social-item a:hover img,
.social-item a:focus img {
  transform: translateY(-2px);
}

.message {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message h2 {
  opacity: 0;
  text-align: center;
  transform: translateY(20px);
  font-size: 260%;
  animation: 0.8s fade-in forwards 0.7s;
  color: white;
  position: relative;
  font-weight: normal;
  transition: 0.5s opacity, 0.2s;
}

.message span {
  font-weight: normal;
  display: block;
  font-size: 72%;
}

.flat {
  display: inline-block;
  padding: 10px 30px;
  font-size: 20px;
  line-height: 1.8;
  vertical-align: bottom;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  color: white;
  background-color: var(--blue);
  text-shadow: -1px 1px hsl(210, 48%, 49%);
  border: none;
  transition: 0.3s background-color, 0.3s text-shadow;
}

.flat:focus,
.flat:hover {
  background-color: hsl(210, 47%, 39%);
  text-shadow: -1px 1px hsl(211, 47%, 29%);
}

.flat:active,
.flat.active {
  background-color: hsl(211, 47%, 29%);
  text-shadow: -1px 1px hsl(210, 48%, 19%);
}

.center {
  text-align: center;
}

main {
  padding: 60px 30px;
  max-width: 150vmin;
  flex-grow: 1;
  position: relative;
}

#thanks .contact-form {
  padding: 3em;
  background-color: var(--green);
}

.contact main {
  padding: 45px 30px;
}

main > section {
  margin-bottom: 30px;
}

.pull-quote {
  width: 100%;
  display: block;
  background: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
}

.pull-quote > q {
  line-height: 1.5;
  display: inline-block;
  padding: 1.2em;
  font-style: italic;
  margin: 0 auto;
  background: white;
  width: 90%;
  font-size: 120%;
  text-align: left;
  background-color: hsla(210, 48%, 59%, 0.05);
  border-radius: var(--border-radius);
  -webkit-font-smoothing: antialiased;
}

.pull-quote > q::before,
.pull-quote > q::after {
  content: normal;
}

.pull-quote > q::first-letter {
  font-weight: bold;
  font-size: 160%;
  line-height: 0.8;
}

/*
  * Footer
*/

footer {
  background-color: hsla(0, 0%, 0%, 0.1);
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

footer .badges,
footer p {
  flex-grow: 1;
}

.badges {
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badges > * {
  margin-bottom: 15px;
}

.badges img {
  display: block;
  margin-bottom: 15px;
}

.badges .block.column {
  display: flex;
  flex-direction: column;
}

footer p {
  margin-bottom: 0;
  padding: 0 1em;
  line-height: 1;
  font-size: 1rem;
}

footer .social-items {
  display: inline-flex;
  padding-top: 15px;
}

/*
  * Form
*/

form {
  position: relative;
  padding: 2em;
  border-radius: var(--border-radius);
  background-color: hsla(210, 48%, 59%, 0.6);
}

form header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em;
  flex-wrap: wrap;
  padding: 0;
}

::placeholder {
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

textarea,
[type="email"] {
  width: 100%;
  padding: 0.5em 0.75em;
  font-size: 0.9em;
  border-radius: var(--border-radius);
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

[type="email"] {
  margin-bottom: 1em;
}

textarea {
  margin-bottom: 1em;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  appearance: none;
  transition: 0.6s background-color;
  background-color: var(--blue);
  border-radius: var(--border-radius);
  text-indent: 0;
  display: inline-block;
  color: white;
  font-size: 0.9em;
  line-height: 2;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 1.3px;
  padding: 0.1em 1.5em;
}

.cancel {
  background-color: transparent;
  font-weight: normal;
  position: relative;
  left: 1em;
  color: white;
}

.cancel-x {
  background-color: white;
  border-radius: 50%;
  padding: 0;
  width: 24px;
  height: 24px;
  font-size: 24px;
  position: absolute;
  top: -7px;
  right: -8px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.cancel-x > svg {
  fill: var(--black);
  max-height: 100%;
  transform: scale(2);
}

/*
  * Modal
*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s 0.1s ease-in, visibility 0.4s 0.1s ease-in,
    transform 0.4s 0.1s ease-in;
  background-color: hsla(0, 0%, 100%, 0.6);
  justify-content: center;
  align-items: center;
}

.modal.full {
  flex-direction: column;
}

.modal.full .inner,
.modal.full .content {
  width: 650px;
  max-width: calc(100% - 3em);
}

.modal.full .inner {
  position: relative;
}

.modal.full .content {
  padding: 2em 3em 2em 2em;
  max-height: 91vh;
  position: relative;
  border-radius: var(--border-radius);
  border: 2px dashed hsla(0, 0%, 21%, 0.1);
  background-color: hsla(210, 48%, 59%, 0.6);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.modal:target {
  opacity: 1;
  visibility: visible;
}

/*
  * Modal page
*/

#services .content {
  padding: 2em;
}

#services section {
  margin-bottom: 3em;
  flex: 1;
}

.contact-content-paragraph {
  position: relative;
  padding: 2em 1em 2em;
  text-align: center;
  background-color: #f3f3f3;
  border-radius: var(--border-radius);
  border: 1px solid hsla(0, 0%, 46.7%, 0.5);
  margin: 0 auto 2em;
  max-width: 75vw;
}

.contact-content-paragraph::after,
.contact-content-paragraph::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 20px solid transparent;
}

.contact-content-paragraph::before {
  border-top: 20px solid hsla(0, 0%, 46.7%, 0.5);
  top: calc(100% + 1px);
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .contact-content-paragraph::before {
      top: calc(100% + 2px);
    }
  }
}

.contact-content-paragraph::after {
  border-top: 20px solid #f3f3f3;
}

.vector-button {
  text-align: center;
  width: 100%;
}

.vector-button.email-button {
  margin-bottom: 3rem;
}

.vector-button .svg-icon {
  background-color: var(--light-gray);
  display: inline-flex;
  padding: 0.5em 0.75em;
  box-shadow: 0 11px 8px -8px rgba(0, 0, 0, 0.4);
  border-radius: var(--border-radius);
  transform: translateY(0) translateZ(0);
  border-bottom: none;
  align-items: center;
}

.vector-button .svg-icon:hover,
.vector-button .svg-icon:focus {
  box-shadow: 0 11px 7px -7px rgba(0, 0, 0, 0.5);
  transform: translateY(-1px) translateZ(0);
}

.vector-button .svg-icon svg {
  min-width: 23px;
  width: 23px;
  height: 23px;
  margin-right: 13px;
  position: relative;
  top: -1px;
}

.vector-button .button-text {
  font-size: 20px;
}

li.oddball {
  font-style: italic;
}

#services .content {
  flex-wrap: wrap;
  padding: 0;
}

.standout {
  width: 100%;
  text-align: center;
}

.standout p {
  color: var(--black);
  margin-bottom: 0;
  padding: 10px 0;
  display: inline-flex;
  width: 50%;
  font-style: italic;
  justify-content: center;
  width: 100%;
}

/*
  * About
*/

#about .content {
  max-height: 26em;
  padding-right: 1em;
  background-position: 35% 0;
  background-repeat: no-repeat;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#about .content > * {
  margin-left: 50%;
  color: hsla(0, 0%, 100%, 0.9);
}

#about .content p:last-child {
  padding-bottom: 2em;
}

.webp #about .content {
  background-image: url("../images/laura_full.webp");
  background-image: -webkit-image-set(
    url("../images/laura_full.webp") 1x,
    url("../images/laura_full@2x.webp") 2x
  );
}

.no-webp #about .content {
  background-image: url("../images/laura_full.jpg");
  background-image: -webkit-image-set(
    url("../images/laura_full.jpg") 1x,
    url("../images/laura_full@2x.jpg") 2x
  );
}

/*
  * Media Queries
*/

@media screen and (min-width: 65em) {
  footer {
    flex-direction: row;
    padding: 30px 90px;
    align-items: center;
    justify-content: space-between;
  }

  footer .badges {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 56em) {
  form.contact-form {
    margin-right: auto !important;
  }

  .message h2 {
    max-width: 65%;
  }

  h3 {
    text-align: left;
  }

  #services .content {
    display: flex;
  }

  #services header {
    z-index: 1;
    padding: 2em;
    top: 0;
    width: 100vw;
    box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 0.2);
    background-color: var(--light-gray);
  }

  #services ul {
    padding-left: 0;
  }

  #services section {
    margin-bottom: 3em;
    flex: 1;
    padding: 0 1em;
  }

  #services section:first-child {
    padding-bottom: 0;
  }

  #services section:last-child {
    padding: 0 0 0 1em;
  }

  .badges .block.column {
    justify-content: space-evenly;
    height: 150px;
  }

  .badges img {
    margin-bottom: 0;
  }

  .contact-content-paragraph {
    margin-right: 2em;
    max-width: none;
  }

  .contact-content-paragraph:before,
  .contact-content-paragraph:after {
    border: 20px solid transparent;
  }

  .contact-content-paragraph::before {
    left: calc(100% + 1px);
    top: 50%;
    transform: translateY(-50%);
    border-left: 20px solid hsla(0, 0%, 46.7%, 0.5);
  }

  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
      .contact-content-paragraph::before {
        left: calc(100% + 2px);
      }
    }
  }

  .contact-content-paragraph::after {
    border-left: 20px solid #f3f3f3;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 50em) {
  body {
    margin: 0 auto;
  }

  .pull-quote > q {
    width: 50%;
  }

  [role="main"] {
    flex: 1;
  }

  .nav-items {
    justify-content: flex-end;
    flex-direction: row !important;
    align-items: center;
  }

  .social-item a {
    margin-left: 1em;
    padding-right: 0;
  }

  .nav-link {
    padding: 0 7.5px;
    color: rgba(255, 255, 255, 0.92);
  }

  .masthead {
    margin: 0 auto;
    max-width: 2000px;
  }

  main {
    margin: 0 auto;
    padding: 60px 30px 45px;
    width: var(--site-width);
    max-width: 100%;
  }

  main > section {
    margin-bottom: 0;
  }

  .about {
    grid-area: about;
  }

  .action {
    grid-area: action;
  }

  .long-message {
    grid-area: long-message;
  }

  .modal-header-wrapper h2 {
    width: auto;
    order: 0;
    margin-top: 0;
  }

  .modal.page header {
    padding: 3.5em 2em;
  }

  .standout p {
    width: 50%;
  }

  .contact-content-paragraph {
    max-width: 50vw;
  }
}

@media screen and (min-width: 40em) {
  .index-message-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: 15px;
  }

  form {
    padding: 3em 2em;
  }

  .modal.page .content {
    padding-right: 2em;
    padding-left: 2em;
  }

  .message h2 {
    font-size: 350%;
  }

  #about .content {
    padding-right: 3em;
  }

  #about .content > * {
    margin-left: 56%;
  }

  .badges {
    flex-direction: row;
  }

  .badges > * {
    margin-bottom: 0;
    margin-right: 25px;
  }
}

/*
  * Tablet only
*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .masthead {
    background-size: auto 100vh;
    background-position: 50% 0;
  }
}

/*
  * Feature Queries
*/

@supports not (--test: green) {
  /*
    --black: hsl(0, 0%, 21%);
    --blue: hsl(210, 48%, 59%);
    --green: hsl(149, 52%, 58%);
  */

  .modal.page header {
    background-color: hsl(149, 52%, 58%);
  }

  .cancel-x {
    background-color: hsl(0, 0%, 21%);
  }

  p,
  main li,
  .nav-link,
  .message h2,
  .modal-header.h1 {
    color: hsl(0, 0%, 21%);
  }

  h3,
  .checkmark {
    color: hsl(210, 48%, 59%);
  }

  button,
  .flat {
    background-color: hsl(210, 48%, 59%);
  }

  .standout p {
    color: hsl(0, 0%, 21%);
  }

  .social-item a {
    color: hsl(0, 0%, 21%);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2 / 1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .webp .masthead {
    background-image: url("../images/the_bg2@2x.webp");
  }

  .no-webp .masthead {
    background-image: url("../images/the_bg2@2x.jpg");
  }
}
